html, body {
    margin: 0;
    padding: 0;
    color: rgb(0, 45, 98);
    background-color: #ffc526;
}
@font-face {
    font-family: MyFont;
    src: url(Migra\ -\ Free\ for\ Personal\ Use/Migra);
}
.navbar {
    box-shadow: 0 3px 4px rgb(0, 45, 98);
}
.navbar-brand {
    color: #ffc526;
    transition: 0.5s;
}
.navbar-brand:hover {
    background-color: #ffc526;
    border-radius: 10px;
    color: rgb(0, 45, 98);
}
.nav-link {
    transition: 0.5s;
}
#link-nav {
    color: #ffc526;
}
.nav-link:hover {
    background-color: #ffc526;
    border-radius: 50px;
}
#link-nav:hover {
    color: rgb(0, 45, 98);
}
.sticky-top {
    position: fixed;
    top: 0;
    background-color: rgb(0, 45, 98);
}
section {
    padding: 64px 128px;
}
.circle {
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background-color: rgb(0, 45, 98);
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
}
#about {
    align-items: center;
    justify-content: space-between;
    column-gap: 16px;
}
.foto {
    margin-left: 150px;
    border-radius: 50px;
    width: 50%;
}
.detail {
    margin-right: 50px;
    padding-left: 32px;
}
h4 {
    font-size: 40px;
}
p {
    font-size: 18px;
}
h6 {
    font-size: 18px;
}
#about-cont {
    margin-top: 64px;
    padding: 0;
}
#about-cont > .d-flex {
    flex-direction: column;
    justify-content: center;
}
.kata1 {
    margin-left: 128px;
}
.h1 {
    display: none;
}
.kata2 {
    margin-top: 50px;
    margin-right: -100px;
}
#about-cont3 {
    flex-direction: column;
}
#about-cont3 > .row {
    margin-top: 64px;
}
.skills {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.skills > div {
    border: 1px solid rgb(0, 45, 98);
    border-radius: 200px;
    margin: 8px;
    padding: 9px 35px;
    text-align: center;
}
.judul {
    display: flex;
    justify-content: center;
}
.card {
    margin-top: 64px;
}
.col-sm-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#sertifikat2 {
    margin-top: -130px;
}
.img-sertif {
    filter: grayscale(100%);
    transition: 0.5s;
}
.img-sertif:hover {
    filter: grayscale(0%);
}
#port-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#portfolio2 {
    margin-top: -130px;
}
#portfolio-cont {
    margin-top: -100px;
    margin-bottom: 50px;
}
.img-port {
    filter: brightness(0);
    transition: 0.5s;
}
.img-port:hover {
    filter: brightness(1);
}
.col-sm-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#nyoba > .container-fluid {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nyoba {
    margin-right: -25px;
}
.hiasan {
    font-family: MyFont;
    font-style: italic;
    animation: pulse 2s infinite;
}
.kecil {
    font-size: 50px;
}
.kecil-atas {
    margin-bottom: -20px;
}
.besar {
    font-size: 100px;
}
.besar-sekali {
    font-size: 150px;
    margin-top: -50px;
}
.sedang {
    font-size: 75px;
    margin-top: -30px;
}
@keyframes pulse {
    0%, 100% {transform: scale(1);}
    50% {transform: scale(1.2);}
}
#tombol-github {
    background-color: rgb(0, 45, 98);
    color: #ffc526;
}
#tombol-github2 {
    background-color: #ffc526;
    color: rgb(0, 45, 98);
    transition: 0.5s;
}
#tombol-github2:hover {
    background-color: rgb(0, 45, 98);
    border: 1px solid #ffc526;
    color: #ffc526;
}
.tombol-contact {
    margin-top: 32px;
    border-radius: 100px;
    padding: 10px 35px;
    background-color: rgb(0, 45, 98);
    color: #ffc526;
    outline: 0;
    border: none;
    transition: 0.5s;
}
.tombol-contact:hover {
    background-color: #ffc526;
    color: rgb(0, 45, 98);
    border: 1px solid rgb(0, 45, 98);
    border-radius: 50px;
}
.atas-footer {
    margin-left: 100px;
}
.icon-contact {
    margin-right: 14px;
}
.link-contact {
    width: 38px;
    height: 38px;
    position: relative;
    background-color: rgb(0, 45, 98);
    border-radius: 50%;
    margin-bottom: 15px;
    transition: 0.5s;
}
.link-contact:hover {
    background-color: #ffc526;
    border: 1px solid rgb(0, 45, 98);
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px 35px;
}
@media only screen and (max-width:992px) {
    #about {
        display: flex;
        flex-direction: column;
    }
    .foto {
        width: 300px;
        margin: 0 auto;
    }
    .sertif {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .img-sertif {
        width: 300px;
    }
    #port-detail {
        display: flex;
        flex-direction: column;
    }
    .card-port {
        width: 500px;
    }
}
@media only screen and (max-width:840px) {
    .sertif {
        display: flex;
        flex-direction: column;
    }
    .img-sertif {
        width: 500px;
    }
}
@media only screen and (max-width:620px) {
    .foto {
        width: 200px;
    }
    .detail {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .detail > h4 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 40px;
    }
    .para1 {
        margin-top: 50px;
    }
    .kata1 {
        margin-left: 35px;
    }
    .kata2 {
        text-align: right;
    }
    .skills > div {
        text-align: center;
    }
    .weakness {
        margin-top: 40px;
    }
    .judul {
        text-align: center;
        margin-top: -20px;
    }
    .img-sertif {
        width: 300px;
    }
    .card-end {
        justify-content: center;
        align-items: center;
        margin-left: -98px;
        width: 300px;
    }
    .tombol-contact {
        text-align: center;
        padding: 10px 55px;
    }
    .tombol-contact > span {
        display: inline-block;
        width: 150px;
        height: 40px;
        font-size: 20px;
        margin-bottom: -7px;
    }
    .atas-footer {
        justify-content: center;
        align-items: center;
        margin-left: 15px;
    }
    #nyoba {
        margin-left: -8px;
    }
    .hiasan-atas {
        margin-left: -48px;
    }
    .hiasan > h1 {
        font-size: 200%;
    }
    .kecil {
        font-size: 30px;
    }
    .kecil-bawah {
        margin-top: 15px;
    }
    .besar-sekali, .sedang {
        margin-top: 0.1px;
    }
    .sedang {
        margin-left: -15px;
    }
    .besar {
        margin-top: 10px;
        font-size: 100px;
        margin-left: -10px;
    }
}